$main_color: #00B98E;
$sec_color: #666565;
$third_color: #0E2E50;
$fourth_color: #EFFDF5;
// fonts 
$font_one: 3.125em;    // 50px in normal or when 1em = 16px
$font_two: 2.5em;      // 40px in normal or when 1em = 16px
$font_three: 1.5em;    // 24px in normal or when 1em = 16px
$font_four: 1em;       // 16px in normal or when 1em = 16px
$font_five: 1.875em;   // 30px in normal or when 1em = 16px
$font_six: 1.25em; // 20px in normal or when 1em = 16px
$font_seven: 0.8em; // for smaller content in propertyAgents
// Transition
$transition: all 0.5s ease 0s;
$margin: 20px;