* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

#carousel {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

section {
  padding: 2em 0;
}

.btn a {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  background-color: #00B98E;
  padding: 15px 30px;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: #0E2E50;
  font-weight: bold;
  font-size: 1.875em;
}

.paragraph {
  color: #666565;
  text-align: center;
  font-size: 1em;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 8px;
  }
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
header .container {
  position: absolute;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease 0s;
}
header .container .boxOne {
  display: flex;
  align-items: center;
}
header .container .boxOne img {
  border-radius: 50%;
  border: 1px dashed #00B98E;
  padding: 10px;
}
header .container .boxOne span a {
  font-size: 2.5em;
  color: #00B98E;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}
header .container .boxTwo {
  display: flex;
  align-items: center;
}
header .container .boxTwo span a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  font-size: 1.25em;
  transition: all 0.5s ease 0s;
}
header .container .boxTwo span a:hover {
  color: #00B98E;
}
header .container .boxTwo span:nth-child(1) a {
  color: #00B98E;
}
header .container .sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: 156;
  background-color: #ffffff;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .container .sidenav .parent {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .sidenav .parent .ch1 {
  display: flex;
  align-items: center;
}
header .container .sidenav .parent .ch1 img {
  border-radius: 50%;
  border: 1px dashed #00B98E;
  padding: 10px;
}
header .container .sidenav .parent .ch1 span a {
  font-size: 2.5em;
  color: #00B98E;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}
header .container .sidenav .parent .ch2 .closebtn {
  font-size: 2.5em;
  color: black;
}
header .container .sidenav div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .container .sidenav div:nth-child(2) a {
  text-decoration: none;
  font-size: 1.25em;
  color: #818181;
  display: block;
  transition: 0.3s;
}
header .container .sidenav div:nth-child(2) a:hover {
  color: #00B98E;
}
header .container .sidenav div:nth-child(2) a:nth-child(1) {
  color: #00B98E;
}
header .container .boxThree .tog {
  font-size: 1.5em;
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1000px) {
  header .container {
    position: relative;
    margin-bottom: 80px;
  }
}
@media (max-width: 860px) {
  header .container .boxTwo {
    display: none;
  }
}
@media (min-width: 861px) {
  header .container .boxThree {
    display: none;
  }
}
.landing .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.landing .container .boxOne {
  width: 50%;
}
.landing .container .boxOne div:nth-child(1) {
  font-weight: bold;
  font-size: 3.125em;
}
.landing .container .boxOne div:nth-child(1) span {
  color: #00B98E;
}
.landing .container .boxOne div:nth-child(2) {
  display: flex;
  margin: 20px 0 35px 0;
  color: #666565;
  font-size: 1.25em;
}
.landing .container .boxTwo {
  width: 50%;
  height: 100%;
  transition: all 0.5s ease 0s;
  z-index: -5;
}
.landing .container .boxTwo img {
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .landing .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
}
.adsense {
  background-color: #00B98E;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  color: white;
  font-size: 1.25em;
}

.propertyTypes .container .paragraph {
  margin: 20px 0;
}
.propertyTypes .container .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.propertyTypes .container .boxs .box {
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
  border-radius: 10px;
  border: 15px solid #EFFDF5;
  text-align: center;
  padding: 25px 80px;
  transition: all 0.5s ease 0s;
}
.propertyTypes .container .boxs .box img {
  border-radius: 50%;
  border: 1px dashed #00B98E;
  padding: 10px;
  background-color: white;
}
.propertyTypes .container .boxs .box div:nth-child(2) {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1em;
}
.propertyTypes .container .boxs .box div:nth-child(3) {
  color: #00B98E;
  font-size: 1em;
}
.propertyTypes .container .boxs .box:hover {
  background-color: #00B98E;
  color: white;
}
.propertyTypes .container .boxs .box:hover div:nth-child(3) {
  color: white;
}

.about .container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about .container .boxOne {
  width: 28.125em;
}
.about .container .boxOne img {
  width: 100%;
}
.about .container .boxTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .container .boxTwo .title,
.about .container .boxTwo .paragraph {
  text-align: left;
  margin: 20px 0;
}
.about .container .boxTwo div:nth-child(3) div {
  margin: 10px 0;
  color: #666565;
  font-size: 1em;
}
.about .container .boxTwo div:nth-child(3) div i {
  font-size: 1.25em;
  color: #00B98E;
  margin-right: 15px;
}
.about .container .boxTwo .btn {
  margin: 20px 0 35px;
}

@media (max-width: 1170px) {
  .about .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about .container .boxTwo {
    align-items: center;
  }
  .about .container .boxTwo .title,
  .about .container .boxTwo .paragraph {
    text-align: center;
  }
  .about .container .boxTwo div:nth-child(3) div {
    display: flex;
  }
}
.propertyList .container .parent {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.propertyList .container .parent .childOne .title,
.propertyList .container .parent .childOne .paragraph {
  text-align: unset;
}
.propertyList .container .parent .childOne .title {
  margin-bottom: 10px;
}
.propertyList .container .parent .childOne .paragraph {
  line-height: 1.3;
}
.propertyList .container .parent .childTwo a {
  text-decoration: none;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.5s ease 0s;
}
.propertyList .container .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.propertyList .container .boxs .box .img {
  position: relative;
  width: 25em;
  overflow: hidden;
}
.propertyList .container .boxs .box .img img {
  width: 100%;
  transition: all 0.5s ease 0s;
}
.propertyList .container .boxs .box .img span:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background-color: #00B98E;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
}
.propertyList .container .boxs .box .img span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: white;
  color: #00B98E;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
}
.propertyList .container .boxs .box .img:hover img {
  transform: scale(1.1);
}
.propertyList .container .boxs .box .text {
  width: 25em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  padding: 20px 0 0 0;
}
.propertyList .container .boxs .box .text div:nth-child(1) {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #00B98E;
  font-size: 1.25em;
  font-weight: bold;
}
.propertyList .container .boxs .box .text div:nth-child(2) {
  margin: 10px 0;
  margin-left: 20px;
  font-size: 1.25em;
  font-weight: bold;
}
.propertyList .container .boxs .box .text div:nth-child(3) {
  margin: 10px 0;
  margin-left: 20px;
  font-size: 1em;
  color: #666565;
}
.propertyList .container .boxs .box .text div:nth-child(3) i {
  color: #00B98E;
}
.propertyList .container .boxs .box .text div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #00B98E;
  font-size: 1em;
  color: #666565;
}
.propertyList .container .boxs .box .text div:nth-child(4) span:nth-child(1) {
  width: 33.3333333333%;
  text-align: center;
  padding: 10px 0;
}
.propertyList .container .boxs .box .text div:nth-child(4) span:nth-child(2) {
  border-left: 1px solid #00B98E;
  border-right: 1px solid #00B98E;
  width: 33.3333333333%;
  text-align: center;
  padding: 10px 0;
}
.propertyList .container .boxs .box .text div:nth-child(4) span:nth-child(3) {
  width: 33.3333333333%;
  text-align: center;
  padding: 10px 0;
}
.propertyList .container .boxs .box .text div:nth-child(4) i {
  color: #00B98E;
}

.active {
  color: white;
  background-color: #00B98E;
}

.notActive {
  color: black;
  background-color: white;
  border: 1px solid #00B98E;
}
.notActive:hover {
  color: white;
  background-color: #00B98E;
}

@media (max-width: 1000px) {
  .propertyList .container .parent {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
}
.contactAgent .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contactAgent .container .boxOne img {
  width: 25em;
}
.contactAgent .container .boxTwo .title,
.contactAgent .container .boxTwo .paragraph {
  text-align: left;
}
.contactAgent .container .boxTwo .paragraph {
  margin: 20px 0 35px 0;
}

@media (max-width: 1050px) {
  .contactAgent .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
  .contactAgent .container .boxTwo .title,
  .contactAgent .container .boxTwo .paragraph {
    text-align: center;
  }
}
.propertyAgents .container .title {
  margin-bottom: 20px 0;
}
.propertyAgents .container .paragraph {
  margin: 20px 0;
}
.propertyAgents .container .boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.propertyAgents .container .boxs .box .img {
  position: relative;
}
.propertyAgents .container .boxs .box .img img {
  width: 18.75em;
}
.propertyAgents .container .boxs .box .text {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.propertyAgents .container .boxs .box .text div:nth-child(1) {
  color: #0E2E50;
  font-size: 1em;
  font-weight: bold;
}
.propertyAgents .container .boxs .box .text div:nth-child(2) {
  color: #666565;
  font-size: 0.8em;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial .container .paragraph {
  margin: 20px 0;
}
.testimonial .container .box {
  border: 15px solid #EFFDF5;
  padding: 20px;
}
.testimonial .container .box div:nth-child(1) {
  line-height: 1.3;
  margin-bottom: 10px;
  color: #666565;
  font-size: 1em;
}
.testimonial .container .box div:nth-child(2) {
  display: flex;
  align-items: center;
}
.testimonial .container .box div:nth-child(2) .img {
  margin: 0;
}
.testimonial .container .box div:nth-child(2) .img img {
  border-radius: 5px;
  width: 2.5em;
  margin-right: 10px;
}
.testimonial .container .box div:nth-child(2) .text {
  display: block;
}
.testimonial .container .box div:nth-child(2) .text div:nth-child(1) {
  font-size: 1em;
  font-weight: bold;
  color: #0E2E50;
  margin: 0;
}
.testimonial .container .box div:nth-child(2) .text div:nth-child(2) {
  font-size: 0.8em;
  color: #666565;
}

footer {
  background-color: #0E2E50;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 1em;
}
footer span {
  color: #00B98E;
}/*# sourceMappingURL=style.css.map */